<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
      
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
      
      <button type="submit" class="btn">Login</button>
    </form>
    <p>Don't have an account? <a href="/auth/signup">Signup here</a></p>
  </div>
</body>
</html>
